.rules__list {
  will-change: transform;
}

.rules__item {
  &::before {
    .screen.active & {
      animation: bounce-in 0.5s $cubic-bezier-follow-through-after-half both;
    }
  }

  &::after {
    .screen.active & {
      animation: fade-in 0.2s 0.1s both;
    }
  }

  p {
    .screen.active & {
      animation: fade-in-left 0.4s 0.15s both;
    }
  }

  @for $i from 1 through 10 {
    .screen.active &:nth-of-type(#{$i}) {
      &::before {
        animation-delay: #{0.2 * $i}s;
      }

      &::after {
        animation-delay: #{0.1 + 0.2 * $i}s;
      }

      p {
        animation-delay: #{0.15 + 0.2 * $i}s;
      }
    }
  }
}

.rules__link {
  &::before {
    left: auto;
    right: 0;
    opacity: 0;
    transform: translateY(-50%);

    .screen.active & {
      animation: expand-btn-background 0.35s 1.05s both;
    }
  }
}

.rules__link span {
  .screen.active & {
    animation: fade-in 0.2s #{1.05 + 0.2}s both;
  }
}

.rules__title {
  .screen.active & {
    @include accent-animation(0.4s, 0s, 1, 0.066s,
        // ПРАВИЛА
        (3, 2, 1.5, 1, 2.5, 2, 1));
  }
}
