.screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.deactivated {
    z-index: 0;
  }
}

.screen--intro {
  background-color: $c-dark;
  background-image: url("../../img/scene.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;

  @include retina {
    background-image: url("../../img/scene@2x.png");
  }

  @media (orientation: portrait) {
    background-image: url("../../img/scene-mob.png");

    @include retina {
      background-image: url("../../img/scene-mob@2x.png");
    }
  }
}

.screen--prizes {
  position: relative;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: $c-dark;
    transform: scaleY(0);
    transform-origin: center bottom;
  }

  &.active {
    &::before {
      transform: scaleY(1);
      transition: transform 0.3s linear 0.2s;
    }
  }
}

.screen__footer,
.disclaimer {
  &:not(.static) {
    transition:
      transform 0.3s $cubic-bezier-almost-done-at-half 0.1s,
      width 0.3s ease 0.1s,
      height 0.3s ease 0.1s;

    transform: translateY(110%);

    .screen.active & {
      transform: translateY(0);
    }

    .screen.deactivated & {
      transform: translateY(110%);
    }
  }

  &.static {
    transition:
      color 0.3s $cubic-bezier-almost-done-at-half 0.1s,
      width 0.3s ease 0.1s,
      height 0.3s ease 0.1s;

    color: rgba($c-dark, 0); // использую color, чтобы не создавать лишних узлов в html

    .screen.active & {
      color: rgba($c-dark, 1);
    }

    .screen.deactivated & {
      color: rgba($c-dark, 0);
    }
  }

  @include tablet-portrait {
    .screen.active & {
      .screen__footer-container {
        transition: color 0.3s ease 0.4s;
      }

      &:not(.screen__footer--full) .screen__footer-container {
        color: rgba($c-dark, 0);
      }

      &.screen__footer--full .screen__footer-container {
        color: rgba($c-dark, 1);
      }
    }
  }
}
