.form__field {
  .form__field-container & {
    width: 0;
    opacity: 0;
    transition: width 0.6s;

    &::placeholder {
      opacity: 0;
      transition: opacity 0.2s ease 0.4s;
    }
  }

  .screen.active .form__field-container &,
  .screen--show .form__field-container & {
    opacity: 1;
    width: 100%;

    &::placeholder {
      opacity: 1;
    }
  }
}
