.slider__item-text {
  opacity: 0;
  transform: translateX(4rem);
  transition:
    opacity 0.6s ease 0.4s,
    transform 0.6s ease 0.4s;

  .screen.active .slider__item.swiper-slide-active & {
    opacity: 1;
    transform: translateX(0);
  }

  .screen.active .slider__item.swiper-slide-active + .slider__item & {
    @media (min-width: $mobile + 1) and (orientation: landscape) {
      opacity: 1;
      transform: translateX(0);
      transition-delay: 0.4s;
    }
  }
}

.slider__item-title {
  .screen.active .slider__item.swiper-slide-active & {
    @include accent-animation(0.5s, 0s, 1, 0.05s,
      // ИСТОРИИ
      (3, 2, 1, 2, 3, 2, 1));
  }
}

@keyframes activate-slider-control-prev {
  from {
    opacity: 0;
    transform: translate3d(-8rem, 0, 0) rotate(-90deg);
  }

  to {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes activate-slider-control-next {
  from {
    opacity: 0;
    transform: translate3d(8rem, 0, 0) rotate(90deg);
  }

  to {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

.slider__control {
  &--prev {
    .screen.active & {
      animation: activate-slider-control-prev 0.4s ease 0.8s both;
    }
  }

  &--next {
    .screen.active & {
      animation: activate-slider-control-next 0.4s ease 0.8s both;
    }
  }
}
