.slider__item-text {
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 0.6s, transform 0.6s;
  transition-delay: 0.2s;

  .screen.active .slider__item.swiper-slide-active & {
    opacity: 1;
    transform: translateX(0);
  }

  .screen.active .slider__item.swiper-slide-active + .slider__item & {
    @media (min-width: $mobile + 1) and (orientation: landscape) {
      opacity: 1;
      transform: translateX(0);
      transition-delay: 0.4s;
    }
  }
}
