.slider__item-text {
  opacity: 0;
  transform: translateX(4rem);
  transition:
    opacity 0.6s ease 0.4s,
    transform 0.6s ease 0.4s;

  .screen.active .slider__item.swiper-slide-active & {
    opacity: 1;
    transform: translateX(0);
  }

  .screen.active .slider__item.swiper-slide-active + .slider__item & {
    @media (min-width: $mobile + 1) and (orientation: landscape) {
      opacity: 1;
      transform: translateX(0);
      transition-delay: 0.4s;
    }
  }
}

.slider__item-title {
  .screen.active .slider__item.swiper-slide-active & {
    $delay: 0s;
    $rate: 1;
    $step: 0.05s;

    .accent-line span {
      animation: bounce-in-up 0.5s ease $delay both;
    }

    .accent-line:nth-child(1) span:nth-child(1) {
      animation-delay: $delay + $rate * $step * 3;
    }

    .accent-line:nth-child(1) span:nth-child(2) {
      animation-delay: $delay + $rate * $step * 2;
    }

    .accent-line:nth-child(1) span:nth-child(3) {
      animation-delay: $delay + $rate * $step * 1;
    }

    .accent-line:nth-child(1) span:nth-child(4) {
      animation-delay: $delay + $rate * $step * 2;
    }

    .accent-line:nth-child(1) span:nth-child(5) {
      animation-delay: $delay + $rate * $step * 3;
    }

    .accent-line:nth-child(1) span:nth-child(6) {
      animation-delay: $delay + $rate * $step * 2;
    }

    .accent-line:nth-child(1) span:nth-child(7) {
      animation-delay: $delay + $rate * $step * 1;
    }
  }
}
