.social-block__toggler {
  transition: color 0.3s;

  &::before {
    transform: translate(-50%, -50%) scale(0);
    transition:
      transform 0.4s $cubic-bezier-follow-through-after-half 0.3s,
      width 0.3s,
      height 0.3s,
      border-color 0.3s;
  }

  .loaded & {
    &::before {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.social-block__list {
  li {
    opacity: 0;
    transform: translateY(1rem);

    .social-block--active &,
    .social-block:focus-within & {
      opacity: 1;
      transform: translateY(0);
      transition:
        opacity 0.6s,
        transform 0.6s;

      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          transition-delay: #{0.1 + 0.1 * $i}s;
        }
      }
    }
  }
}

.social-block__link {
  transition:
    color 0.3s,
    background-color 0.3s,
    border-color 0.3s;
}
