@keyframes bounce-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes bounce-in-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(1rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes expand-btn-background {
  from {
    width: 6rem;
    opacity: 0;

    @media (min-width: $stop-scaling) {
      width: calc(3rem + 30px);
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      width: 4rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 4rem;
    }
  }

  1% {
    opacity: 1;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}
